<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
    To contact ThatRandomAdmin, you can reach him through his website at
    <a href="http://thatrandomadmin.rf.gd">thatrandomadmin.rf.gd</a>.
    Contact the Ruby on Rails Tutorial about the sample app at the
    <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>