<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Twitter knockoff</h1>
    <h2>
        This is the homepage for my knockoff version of Twitter
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>